# Welcome To Python Training Session by Coding Club JNTUHCEH

![Logo](../logo/X.png)

# Session 2 - 25/12/2021

## 4. Variables and Constants

### 4.1 Variables

A variable is a named location used to store data in the memory. It is helpful to think of variables as a container that holds data that can be changed later in the program. For example,

In [ ]:
number = 10

In the above cell, we have created a variable named 'number' and have assigned the value of 10 to it.
<br><br>
Variables can be thought as a container whose contents can be replaced at any time.

In [ ]:
print(number)
number = 200
print(number)

We have changed the value that is held the variable 'number' from to 10 to 200 using the above cell.
<br>
<br>
<ins>Note:</ins> The variable number is assigned 10 in the above cell remains intact unless it changed. **DON'T** assume that since that line of code is in an another cell, once we run this cell, it's value will be lost.

![reassigning](images/reassigning.png)

#### 4.1.1 Assigning values to variables

Unlike other programming languages like C, C++ and Java, we don't need to assign the data type of the variable explicitly.

##### 4.1.1.1 Declaring and Assigning value to a variable

- We have already dealt with assigning value to a variable in the above cells.
- We use equal-to operator "=" to assign value to a variable.
- The assigning of value to the variable happens from right to left

Consider the following cell...

In [ ]:
x = 25
print(x)

We have assigned the value of 25 to the variable named x
<br><br>
Symbolically, x <- 25 .

##### 4.1.1.2 Changing the value of a variable

We can not only assign values to a variable, but also change their values at any point in time.

In [ ]:
# declaring a variable named 'abx' and assigning a value of 3000 to it.
abc = 3000
print(abc)

# changing the value of 'abc' to 100.
abc = 100
print(abc)

##### 4.1.1.3 Assigning multiple values to multiple variables

We can assign different values to different variables in a way shown in the following cell.

In [ ]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

These different values need to belong to the same data type.

In [ ]:
x, y, z = 3000, 3.14, "Python"
print(x)
print(y)
print(z)

##### 4.1.1.4 Assigning same value to multiple variables

We can also assign same value to multiple variables in the following way.

In [ ]:
p = q = r = 9999
print(p)
print(q)
print(r)

#### 4.1.2 Changing value of a variable to another value of different data type

We can assign value of one data type to a variable and also another value of another data type to the same variable.

In [ ]:
# assigning integer value 10 to the variable 'value'
value = 10
print(value)

In [ ]:
# assigning a float(decimal) value to the same variable 'value' right after it is assigned an int(integer) value.
value = 2.718
print(value)

#### 4.1.3 type() Function

You can the check the data type of variable using the built-in type() function.

In [ ]:
type(value)

In [ ]:
value = 10
type(value)

In [ ]:
value = "value"
type(value)

str is an abbreviation for String.

### 4.2 Constants

A constant is a type of variable whose value cannot be changed. It is helpful to think of constants as containers that hold information which cannot be changed later.

You can think of constants as a bag to store some books which cannot be replaced once placed inside the bag.

We usually name a constant variable in capitals.

In [ ]:
PI = 3.14
GRAVITY = 9.8

In [ ]:
print(PI)
print(GRAVITY)

<ins>**WARNING:**</ins> In reality, we don't use constants in Python. Naming them in all capital letters is a convention to separate them from conventional variables, however, it does not actually prevent reassignment i.e changing of it's value.

In [ ]:
PI = 3
GRAVITY = 10

In [ ]:
print(PI)
print(GRAVITY)

### 4.3 Rules for naming variables and constants

1. Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

- snake_case
- MACRO_CASE
- camelCase
- CapWords

2. Create a name that makes sense. For example, vowel makes more sense than v.

3. If you want to create a variable name having two words, use underscore to separate them.

- my_name
- current_salary

4. Use capital letters possible to declare a constant.

- PI
- G
- SPEED_OF_LIGHT

5. Never use special symbols like !, @, #, $, %, etc.

6. Don't start a variable name with a digit.

## 5. Literals

Literal is a raw data given in a variable or constant. In Python, there are various types of literals.

### 5.1 Numeric Literals

Numeric Literals are immutable (unchangeable). 

Numeric literals can belong to 3 different numerical types: Integer, Float, and Complex.

In [ ]:
a = 10      # numeric literal
b = 3.14    # float literal
c = 15e2    # float literal
d = 5 + 5j  # complex literal

print(a)
print(b)
print(c)
print(d, d.real, d.imag)

### 5.2 String Literals

A string literal is a sequence of characters surrounded by quotes. 

We can use both single, double, or triple quotes for a string. 

A character literal is a single character surrounded by single or double quotes.

In [ ]:
string1 = "Python language is awesome"  # double quoted string
string2 = 'Python language is cool'     # single quoted string
char1 = 'N'                             # single quoted character
char2 = "N"                             # double quoted character

print(string1)
print(string2)
print(char1)
print(char2)

### 5.3 Boolean Literals

A Boolean literal can have any of the two values: True or False. No other values exist.

True and False are both keywords in Python.

In [ ]:
x = True    # note the capital T
y = False   # note the capital F

print(x, y)

### 5.4 Special Literal

Python contains one special literal i.e. None. We use it to specify that the field has not been created.

None is also a keyword in Python.

This is similar to 'NULL' in C programming language.

In [ ]:
x = None    # note the capital N
print(x)

x = 10 
print(x)

## 6. Data Types

![datatypes](images/Python-data-structure.jpg)

Data types are the classification or categorization of data items. 

It represents the kind of value that tells what operations can be performed on a particular data.

Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

### 6.1 Numbers

Integers, floating point numbers and complex numbers fall under Python numbers category. 

They are defined as int, float and complex classes in Python.

#### 6.1.1 Integer (int)

In [ ]:
d = 20

print(d, "is of type", type(d))

Integers can be of any length.

Unlike in other programming languages like C, C++, Java where numeric data types have a lower bound and an upper bound, integers in python have no limits.

In [ ]:
d = 200000000000000

print(d)

#### 6.1.2 Floating Point (float)

A floating-point number is accurate up to 15 decimal places. 

Integer and floating points are separated by decimal points. 

1 is an integer, 1.0 is a floating-point number.

In [ ]:
e = 2.0

print(e, "is of type", type(e))

#### 6.1.3 Complex

Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part.

In [ ]:
f = 3 + 4j

print(f, "is of type", type(f))

### 6.2 Boolean

Data type with one of the two built-in values, True or False. 

Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false). 

But non-Boolean objects can be evaluated in Boolean context as well and determined to be true or false. 

It is denoted by the class bool.

In [ ]:
a = True; b = False

print(a, b)
print("a is of type", type(a), ", b is of type", type(b))

Note: Be careful with the capitalization of T and F

In [ ]:
a = true; b = false

print(a, b)
print("a is of type", type(a), ", b is of type", type(b))

### 6.3 Dictionary

Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. 

Key-value is provided in the dictionary to make it more optimized. 

Each key-value pair in a Dictionary is separated by a colon :, whereas each key is separated by a ‘comma’.

#### 6.3.1 Creating a Dictionary

A dictionary can be created using wrapping the sequence of key-element pairs in curly braces"{}"

In [ ]:
# empty dictionary
dictionary = {}
print(dictionary)

In [ ]:
# Dictionary with values
dictionary = {"Python": 1, "Java": 2, "C++": 3, "C": 4}
print(dictionary)

A dictionary can also be initialized using the *dict()* function.

In [ ]:
# empty dictionary
dictionary = {}
print(dictionary)

In [ ]:
# Dictionary with values
dictionary = dict({"Python": 1, "Java": 2, "C++": 3, "C": 4})
print(dictionary)

#### 6.3.2 Using type()

In [ ]:
print(type(dictionary))

### 6.4 Set

 Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. 
 
 The order of elements in a set is undefined though it may consist of various elements.

#### 6.4.1 Creating a Set

A set can be initialized using the *set()* function.

In [ ]:
# initializing an empty set
sets = set()
print(set)

In [ ]:
# creating a set with duplicate elements
sets = set([1, 2, 3, 4, 5, 2, 3, 1])
print(sets)

#### 6.4.2 Using type()

In [ ]:
print(type(sets))

### 6.5 Sequence Type

Sequence is the ordered collection of similar or different data types. 

Sequences allows to store multiple values in an organized and efficient fashion. There are several sequence types in Python –
1. String
2. List
3. Tuple

#### 6.5.1 String

A string is a sequence of characters.

In [ ]:
string = "Python is easy to use!"
print(string)

#### 6.5.2 List

List represents a finite number of ordered values, where the same value may occur more than once.

##### 6.5.2.1 Creating a list

Lists are created by wrapping the elements of a list, each separated by commmas in braces"[]"

In [ ]:
# initializing empty list
lists = []
print(lists)

In [ ]:
# creating a list with elements
lists = [1, 2, 3, 4, 5, 2, 3, 1]
print(lists)

Lists can also be created using the built-in *list()* function.

In [ ]:
# initializing empty list
lists = list()
print(lists)

In [ ]:
# creating a list with elements
lists = list([1, 2, 3, 4, 5, 2, 3, 1])
print(lists)

##### 6.5.2.2 Using type()

In [ ]:
print(type(lists))

#### 6.5.3 Tuple

Just like a list, a tuple is also a collection of ordered values, where the same value can occur more than once.

But then, what is the difference?

- Tuples are immutable whereas Lists are mutable

What is meant by immutable and mutable?

- <ins>immutable:</ins> whose values remain fixed and can't be changed.
- <ins>mutable:</ins> whose values are not fixed and can be changed at any point in time.

##### 6.5.3.1 Creating a Tuple

A tuple can be initialzed wrapping the elements of the tuple, each separated by commas, in paranthesis"()".

In [ ]:
# initializing an empty tuple
tup = ()

In [ ]:
# initializing a tuple with elements
tup = (1, 2, 3, 4, 5, 2, 3, 1)
print(tup)

A tuple can also be initialized using the *tuple()* function.

In [ ]:
# initializing an empty tuple
tup = tuple()

In [ ]:
# initializing a tuple with elements
tup = tuple([1, 2, 3, 4, 5, 2, 3, 1])
print(tup)

##### 6.5.3.2 Using type()

In [ ]:
print(type(tup))

## 7. Type Conversions

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. 

Python has two types of type conversion.
1. Explicit Type Conversion
2. Implicit Type Conversion

### 7.1 Explicit Type Conversion

We can convert between different data types by using different type conversion functions. Some of them are 
- int() -> converts to integer
- float() -> converts to float
- str() -> converts to string

#### 7.1.1 int to float conversion

In [ ]:
a = 10
a = float(a)

print(a)

#### 7.1.2 float to int conversion

Conversion of float to int will truncate the value (decimal part will be lost).

Not same as rounding-off.

In [ ]:
a = 10.3
print(int(a))

In [ ]:
a = 10.9
print(int(a))

In [ ]:
a = 10.999999
print(int(a))

#### 7.1.3 str to int

In [ ]:
string = "10"
integer = int(string)
print(string)
print(integer)

Both seem to be same. How do you if the conversion has actually occured?

Simple; use the type function. ;)

In [ ]:
print("string is of type", type(string))
print("integer is of type", type(integer))

<ins>Note:</ins> Only strings that are proper integers will be converted without raising an error.

In [ ]:
string = "10f"
print(int(string))

In [ ]:
string = "Hello"
print(int(string))

#### 7.1.4 str to float

In [ ]:
string = "3.14"
float_num = float(string)

print(string)
print(float_num)

In [ ]:
print("string is of type", type(string))
print("float_num is of type", type(float_num))

<ins>Note:</ins> Only strings that are proper floating numbers will be converted without raising an error.

In [ ]:
string = "10.34xyz"
print(float(string))

In [ ]:
string = "World"
print(float(string))

#### 7.1.5 int, float to str

In [ ]:
integer = 3000
float_num = 9.81

integer_str = str(integer)
float_str = str(float_num)

print(integer)
print(integer_str)

print(float_num)
print(float_str)

In [ ]:
print("integer is of type", type(integer))
print("integer_str is of type", type(integer_str))
print("float_num is of type", type(float_num))
print("float_str is of type", type(float_str))

### 7.2 Implicit Type Conversion

In Implicit type conversion, Python automatically converts one data type to another data type. 

This process doesn't need any user involvement.

Python always converts smaller data types to larger data types to avoid the loss of data.

In the below case, int is a lower data type and float is a higher data type

In [ ]:
num_int = 123       # int
num_flo = 1.23      # float

# num_int is automatically converted to float from int
# and it's value automatically is converted 123.0 from 123
num_new = num_int + num_flo

print("datatype of num_int:", type(num_int))
print("datatype of num_flo:", type(num_flo))

print("Value of num_new:", num_new)
print("datatype of num_new:", type(num_new))

#### Adding Strings with Integer

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:", type(num_int))
print("Data type of num_str:", type(num_str))

print(num_int + num_str)

What do we do? Panic??? :O

Nah, we can simply convert the type explicitly.

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:", type(num_int))
print("Data type of num_str:", type(num_str))

# converting str to int
print(num_int + int(num_str))

# converting int to str
print(str(num_int) + num_str)

A string is a higher data type and integer is a lower data type.

### Key Points

1. Type Conversion is the conversion of object from one data type to another data type.
2. Implicit Type Conversion is automatically performed by the Python interpreter.
3. Python avoids the loss of data in Implicit Type Conversion.
4. Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.
5. In Type Casting, loss of data may occur as we enforce the object to a specific data type.

## 8. print() function

### 8.1 Printing multiple values with a single statement

Till now, we have done something like the below cell to print many values as output. We used multiple print statements.

In [ ]:
x, y, z = 3000, 3.14, "Python"
print(x)
print(y)
print(z)

We can print multiple values (literals, strings, variables) with a **single** print() statement by separating each value with a comma(,).

Let us see an example...

In [ ]:
# values (variable separated by commas)
print(x, y, z)

We can also apply the same principle on literals.

In [ ]:
print(1, 2.0, 3.14, "X", "Y", "Z")

We can also use a combination of variables and literals as well.

In [ ]:
print("X =", x, ", Y =", y, ", Z =", z)

### 8.2 Arguments 'sep' and 'end'

In [ ]:
help(print)

#### 8.2.1 sep

So, what does sep actually mean? 

- Sep is an abbereviation for separation.

What does sep do?

- The value assigned to sep is inserted between each value when multiple values are used in a single print() statement.

The default value assigned to sep is " " (a blank space) as can be seen in the documentation of print().

In [ ]:
print("X =", x, ", Y =", y, ", Z =", z)

The following cell also produces the same output as the above one.

This is because sep=" " by default.

In [ ]:
print("X =", x, ", Y =", y, ", Z =", z, sep=" ")

But we can also assign a custom value to sep parameter as shown.

In [ ]:
print(1, 2, 3, sep="*")

We can assign any valid string value to sep.

In [ ]:
print(1, 2, 3, sep="*****")

In [ ]:
print(1, 2, 3, sep="Python")

In [ ]:
print("X =", x, ", Y =", y, ", Z =", z, sep=" * ")

See the value of sep inserted between the values provided.

What happens if we provide the value of sep other than int?

In [ ]:
print("X =", x, ", Y =", y, ", Z =", z, sep=10000)

#### 8.2.2 end

So what does end mean?

- end has no abbreviation. End of Line.

What does end do?

- The value assigned to end is added after the last value (number of values provided may be 1 or more) and printed on the screen.

The default value assigned to end is "\n" (a blank space) as can be seen in the documentation of print().

What is "\n"?

- "\n" is a special character that is used to a new-line.

In [ ]:
print("Nikhil\nNandam")

Use of default value of end parameter.

In [ ]:
print(4, 5, 6)

Explicitly using the default value of end parameter

In [ ]:
print(4, 5, 6, end="\n")

Using a custom string as value of end parameter.

In [ ]:
print(4, 5, 6, end="*")

In [ ]:
print(4, 5, 6, end="Python")

In [ ]:
print("X =", x, ", Y =", y, ", Z =", z, end="10000")

What happens if we don't use a string value for end?

In [ ]:
print(4, 5, 6, end=789)

The actual use of end is seen when we use 2 print() statements simultaneously as shown in examples below.

without using end parameter

In [ ]:
print(1, 2, 3)
print(4, 5, 6)

using end parameter

In [ ]:
print(1, 2, 3, end=" **** ")
print(4, 5, 6)

without using end parameter

In [ ]:
print("Nikhil")
print("Nandam")

using end parameter

In [ ]:
print("Nikhil", end=" :))) ")
print("Nandam")

#### 8.2.3 Using both sep and end together

Custom string values can be assigned to both sep and end parameters simultaneously

using default values of end and sep

In [ ]:
print(1, 2, 3)
print(4, 5, 6)

using custom value for sep and default value of end

In [ ]:
print(1, 2, 3, sep=" * ")
print(4, 5, 6, sep=" * ")

using default value of sep and custom value for end

In [ ]:
print(1, 2, 3, end=" * ")
print(4, 5, 6)

using custom values for sep and end

In [ ]:
print(1, 2, 3, sep=" * ", end=" * ")
print(4, 5, 6, sep=" * ")

### 8.3 Output Formatting

Sometimes we would like to format our output to make it look attractive. 

There are 2 ways we can achieve that goal.
1. str.format() method.
2. f-strings

#### 8.3.1 str.format()

Here, the curly braces {} are used as placeholders.

In [ ]:
x = 5; y = 10
print("X = {}, Y = {}".format(x, y))

We can specify the order in which they are printed by using numbers (tuple index).

In [ ]:
print("X = {0}, Y = {1}".format(x, y))

In [ ]:
print("Y = {1}, X = {0}".format(x, y))

We can also use keyword arguments.

In [ ]:
print("X = {x_val}, Y = {y_val}".format(x_val=x, y_val=y))

#### 8.3.2 F-Strings

To create an f-string, prefix the string with the letter “ f ”. 

The string itself can be formatted in much the same way that you would with str.format(). 

F-strings provide a concise and convenient way to embed python expressions inside string literals for formatting.

In [ ]:
print(f"X = {x}, Y = {y}")

<ins>**Note:**</ins> Make sure to use the exact names of the variables to be used.

In [ ]:
print(f"X = {x_val}, Y = {y_val}")

#### 8.3.3 Small Cheat Code

When using jupyter notebook cells, if our last line is a print() statement, we can use a cheat and avoid the print() statement all together.

In [ ]:
python = "easy"
print(python)

Just use the variable name that you want to print as the last line of the cell.

In [ ]:
python = "easy"
python

Another example...

In [ ]:
a, b, c = 1, 2, 3
print(a, b, c)

In [ ]:
a, b, c = 1, 2, 3
a, b, c

<ins>**Note:**</ins> This trick works only for the last line in the cell.

In [ ]:
x = 10
y = 200
x, y

In [ ]:
x = 200
x, y
y = 10

### 9. Input from the User

Until now, we have static values in our lines of code. 

The value of variables were defined or rather hard coded into our source code.

Now, We explore how to take input from the user.

In Python, we use *input()* function to take input from the user.

Compare this to *scanf()* in C Programmming Language.

Let's us see how to use it.

In [ ]:
help(input)

In [ ]:
a = input()
a

prompt is the string we would wish to display on the screen.

In [ ]:
a = input("Enter a string: ")
a

In [ ]:
num1 = input("Enter number 1: ")

In [ ]:
num2 = input("Enter number 2: ")

In [ ]:
num1 + num2

10 + 20 = 30. Right? Why is it showing 1020??? :O

Let's see another example to understand what's happening...

In [ ]:
num1 = input("Enter number 1: ")
num1 + 10

Input function be like: Gotcha!! Hahahahaha!!!!

<ins>**Note:**</ins> The value obtained from input() function is always a **String**.

So what do we do now?

Simple, use type-casting ;)

In [ ]:
num3 = input("Enter number 3: ")
num4 = input("Enter number 4: ")
int(num3) + int(num4)

Are num3 and num4 converted to ints?

Let's check

In [ ]:
type(num3)

In [ ]:
type(num4)

They are still strings? :O

Panic? No need.

In [ ]:
num3 = input("Enter number 3: ")
num3 = int(num3)
num4 = input("Enter number 4: ")
num4 = int(num4)
num3 + num4

Now let's see the type of num3 and num4

In [ ]:
type(num3)

In [ ]:
type(num4)

A shortcut way...

Use type-casting on input function itself.

In [ ]:
num3 = int(input("Enter number 3: "))
num4 = int(input("Enter number 4: "))
num3 + num4

The same priciple applies to floats as well

In [ ]:
float1 = float(input("Enter value of float 1: "))
float2 = float(input("Enter value of float 2: "))
float1 + float2

## 10. Operators

![operators](images/operators.png)

### 10.1 Arithmetic Operators

#### 10.1.1 Addition (+)

Addition is used to add two values (integers, floats, strings, etc.)

#### 10.1.2 Subtraction (-)

Subtract right operand from the left or unary minus.

#### 10.1.3 Multiplication (*)

Multiply two operands.

#### 10.1.4 Division (/)

Divide left operand by the right one (always results into float).

#### 10.1.5 Modulus (%)

Modulus - remainder of the division of left operand by the right.

#### 10.1.6 Floor Division (//)

Floor division - division that results into whole number adjusted to the left in the number line.

#### 10.1.7 Exponent (**)

Exponent - left operand raised to the power of right.

In [ ]:
x = int(input("Enter an integer: "))
y = int(input("Enter another integer: "))

# Addition
print('x + y =', x + y)

# Subtraction
print('x - y =', x - y)

# Multiplication
print('x * y =', x * y)

# Division
print('x / y =', x / y)

# Modulus
print('x % y = ', x % y)

# Floor Division
print('x // y =', x // y)

# Exponent
print('x ** y =', x ** y)

## 10.2 Comparison Operators

#### 10.2.1 Greater Than (>)

True if left operand is greater than the right.

#### 10.2.2 Less Than (<)

True if left operand is less than the right.

#### 10.2.3 Equal To (==)

True if both operands are equal.

#### 10.2.4 Not Equal To (!=)

True if operands are not equal.

#### 10.2.5 Greater than or equal to (>=)

True if left operand is greater than or equal to the right.

#### 10.2.6 Less than or equal to (<=)

True if left operand is less than or equal to the right.

In [ ]:
x = 10
y = 12

# Greater than
print('x > y is', x > y)

# Less than
print('x < y is', x < y)

# Equal to
print('x == y is', x == y)

# Not Equal to
print('x != y is', x != y)

# Greater than or equal to
print('x >= y is', x >= y)

# Less than or equal to
print('x <= y is', x <= y)

### 10.3 Logical Operators

#### 10.3.1 and operator

True if both the operands are true.

![and](images/and.png)

#### 10.3.2 or operator

True if either of the operands is true.

![or](images/or.png)

#### 10.3.3 not operator

True if operand is false (complements the operand).

![not](images/not.png)

In [ ]:
x = True
y = False

print('x and y is', x and y)

print('x or y is', x or y)

print('not x is', not x)

### 10.4 Bitwise Operators

Bitwise operators act on operands as if they were strings of binary digits. 

They operate bit by bit.

#### 10.4.1 Bitwise And (&)

The resultant bit is 1, if both the corresponding bits are 1, and 0 otherwise.

#### 10.4.2 Bitwise Or (|)

The resultant bit is 0, if both the corresponding bits are 0, and 1 otherwise.

#### 10.4.3 Bitwise Not (~)

The resultant bit is 1, if the corresponding bit is 0 and vice-versa.

#### 10.4.4 Bitwise XOR (^)

The resultant bit is 1, if only one of the corresponding bits are 1, and 0 otherwise.

#### 10.4.5 Bitwise Right Shift (>>)

All the bits are serially shifted rightward.

#### 10.4.6 Bitwise Left Shift (<<)

All the bits are serially shifted leftward.

![bitwise](images/bitwise.png)

In [ ]:
x = 10; y = 4

# bitwise and
print("x & y =", x & y)

# bitwise or
print("x | y =", x | y)

# bitwise not
print("~x =", ~x, ", ~y =", ~y)

# bitwise xor
print("x ^ y = ", x ^ y)

# bitwise right shift
print("x >> 2 =", x >> 2, ", y >> 1 =", y >> 1)

# bitwise left shift
print("x << 2 =", x << 2, ", y << 1 =", y << 1)

## 10.5 Assignment Operator & Compound Operators

#### 10.5.1 Assignment Operator (=)

Assigns the value on the right to the expression on the left.

In [ ]:
a = 5
a

#### 10.5.2 Compound Operators

![compound](images/Compound.png)

### 10.6 Special Operators

1. Identity Operators
2. Membership Operators

#### 10.6.1 Identity Operators

"is" and "is not" are the identity operators in Python. 

They are used to check if two values (or variables) are located on the same part of the memory. 

Two variables that are equal does not imply that they are identical.

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = x3

print(x1 is not y1)

print(x2 is y2)

print(x3 is y3)

In [ ]:
x3 = [1, 2, 3]
y3 = [1, 2, 3]

print(x3 is y3)

#### 10.6.2 Membership Operators

"in" and "not in" are the membership operators in Python. 

They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [ ]:
list_nums = [1, 2, 3, 4]

print(3 in list_nums)

print(1 not in list_nums)

In [ ]:
articles = ["a", "an", "the"]

print("there" in articles)

print("you" in articles)

| Object | Value |
| ------ | ----- |
| Thing | 10 |